<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  <p>Wow!</p>
  <p>You referred {{referredUserFirstName}} and they upgraded their {{brand}} account!</p>
  <p>Because of you the {{brand}} network just got stronger.</p>
  <p>Expect a little something in your {{brand}} BTC wallet shortly.</p>
  <p>Beyond the 'little something', we sincerely thank you for sharing and contributing to the growth of the {{brand}}
    community.</p>
  <p>Together we're building a better future.</p>
  <p>Keep it up and we'll happily send additional 'little somethings' for your efforts!</p>
  <p>It really does help.</p>
  <p>{{brand}} Support Team</p>
</body>

</html>