<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <a href="{{href}}">

        <img src="cid:logo" alt="coupon" />
    </a>
    <p>Here it is!</p>

    <p>
        Because you upgraded your account to “Plus”, it’s our pleasure to extend to you 10x the value and encourage you
        to deepen your participation in the network.
    </p>
    <p>
        Not too shabby.
    </p>
    <p>
        If you love {{brand}} we invite you to jump in with a soft node.
    </p>
    <p>
        Just click the image above to claim your Instant Credit for {{softnodeType}} soft node.
    </p>
    <p>
        A warm welcome to the {{brand}} network.
    </p>

    <p>
        Thank you for your contribution!
    </p>
    <p>
        {{brand}} Support Team
    </p>


</body>

</html>